/* Dekomposisi */
.drag-dekom, .drag-algo {
      cursor: grab;
      background-color: #f8f9fa;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
}

.drop-dekom, .drop-algo {
      min-height: 100px;
      border: 2px dashed #007bff;
      padding: 10px;
      border-radius: 5px;
      background-color: #e9ecef;
      margin-bottom: 20px;
}

.dropzone h5 {
      font-size: 1rem;
      margin-bottom: 10px;
}

.table td, .table th {
      vertical-align: middle;
}

.sortable-list {
      list-style-type: none;
      padding: 0;
}

.sortable-list li {
      background-color: #f8f9fa;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: move;
}

/* Pengenalan Pola */
.questions {
    margin-top: 20px;
    text-align: justify;
    font-size: 16px;
    /* color: #2c3e50; */
}
.questions p {
    margin-bottom: 10px;
}
/* Placeholder berada di tengah */
.inputJawaban {
    text-align: center;
    border: 2px solid #011B78;
    padding: 5px;
    width: 70px;
    margin: 5px 0;
}

.inputJawaban.salah {
    border-color: red;
}

.list-item {
    width: 50px;
    height: 50px;
    background-color: rgb(71, 134, 250);
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    font-size: 20px;
    /* border-radius: 5px; */
}

.card.draggable {
    cursor: grab;
}
.card.dragging {
    opacity: 0.5;
}